/*@import url('css/common.css');
can be used if you have separated css set in main module options
uncomment this lines and remove call of this files from header.php
*/


html, body { background-color:#fff; }

/* buttons colors */
input[type="button"], input[type="submit"], button, a.button { background-color: #444444; border-color: #444444; color:#ffffff; }
input[type="button"].light, input[type="submit"].light, button.light, a.button.light { background-color: transparent; border-color: #444444; color: #444444; }
input[type="button"]:hover, input[type="submit"]:hover, button:hover, a.button:hover { background-color: #6d6d6d; border-color: #6d6d6d; }
input[type="button"].light:hover, input[type="submit"].light:hover, button.light:hover, a.button .light:hover{ background-color: transparent; border-color: #6d6d6d; color: #6d6d6d; }

/* headers */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, 
h3 a, h4 a, h5 a, h6 a, h1 a:hover, 
h2 a:hover, h3 a:hover, h4 a:hover, 
h5 a:hover, h6 a:hover { color: #001474 !important; text-decoration:none; font-weight:normal; width:100%; line-height:1.6em; }
h1, h1 a, h1 a:hover { font-size:28px; padding-bottom:15px; }h2, h2 a, h2 a:hover { font-size:24px; }h3, h3 a, h3 a:hover { font-size:20px; }h4, h4 a, h4 a:hover { font-size:18px; }h5, h5 a, h5 a:hover { font-size:16px; }h6, h6 a, h6 a:hover { font-size:16px; }

/* references */
a { color: #0e5c00; }
a:hover { color: #2c8420; }

/* form messages */
.form_success {
	color: #317b00;
	background-color: #cce9b9;
	border: 1px solid #317b00;
	padding:10px;
	margin:10px 0;
}
.form_error {
	color: #fe180d;
	background-color: #f6c9c7;
	border: 1px solid #fe180d;
	padding:10px;
	margin:10px 0;
}
.starrequired {
	color:red;
	font-weight:bold;
}

/* z-form */
.z-form {
	max-width:800px;
	margin:0 auto;
}
.z-form .form-group {
	padding-bottom:15px;
}
.z-form .form-group.sub-title,
.z-form .form-group.buttons {
	text-align:left;
}
.z-form .form-group input[type="text"],
.z-form .form-group input[type="password"],
.z-form .form-group input[type="number"],
.z-form .form-group input[type="email"],
.z-form .form-group input[type="tel"],
.z-form .form-group input[type="search"]{
	width:100%;
}
.z-form .form-group .short > input {
	width:180px;
}
