body {
	background-color: #FFF;
}

section {
	width:100%;
	background-color: #fff;
}
section > h3 {
	display:none;
}
.section-block {
	margin:0 auto;
	max-width: 1300px;
	width:100%;
}
@media (max-width: 1300px)
{
	.section-block {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.section-block.content-head {
	padding-top:15px;
}
.section-block.content {
	padding-top:15px;
	padding-bottom:15px;
}
.section-block.content p { padding:5px 0px; }

#ajax-page-loader {
	width:100%;
	height:100%;
	background-color:#fff;
	opacity: 0.8;
	display:none;
	position:fixed;
	z-index:200;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	padding:20px;
	background-image:url('images/ajax_loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

#underlayer {
	width:100%;
	height:100%;
	background-color:#000;
	opacity: 0.8;
	display:none;
	position:fixed;
	z-index:1040;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	padding:20px;
	text-align:right;
	font-size:25px;
	color:#696969;
}
#underlayer i { cursor:pointer; }

/*search*/
.search-form { display:none; position:fixed; z-index:1050; padding:30px; width:100%; max-width:700px; left:50%; margin-left:-350px; top:50%;transform: translateY(-50%); white-space: nowrap; }
.search-form input[type="text"] { /*line-height: 40px;*/ height:40px; padding-left:20px; padding-right:20px; width: calc(100% - 85px); border:0px; }
.search-form input[type="submit"] { height:42px; top:-1px; }
@media screen and (max-width: 700px) {
	.search-form {
		left:0px;
		margin-left:0px;
	}
}

/* custom menu */
/*
ul.menu-h li a {  padding: 11px 15px 0px 15px; height:100%;  }
ul.menu-h.dropdown ul {  width:250px;   }
ul.menu-h.dropdown > li.drop > a { padding-right:30px; }

ul.menu-v li a { padding: 8px 30px 8px 15px; }
ul.menu-v li ul.menu-v li {  font-size: 95%; decrease font size on every level in hierarchical menus if you want }

ul.dropdown > li > ul > li:last-child { clear:both; }*/
