.top-menu ul.menu-v.dropdown > .drop > .open-icon { display:none; }
.top-menu ul.menu-h.dropdown > .drop > .open-icon { display:none; }
.top-menu .mob-menu-title { display:none; }

@media screen and (max-width: 977px) {
	.top-menu {
		display:none;
		position:absolute;
		top:0;
		left:-320px;
		width:320px;
		background-color: #3e3e3e;
		color:#fff;
		font-size: 18px;
		z-index:1050;
	}
	.top-menu .mob-menu-title { display:block; }
	.top-menu a, .top-menu a:hover { color:#fff; }
	.top-menu ul.menu-v.dropdown > .drop > .open-icon {
		display:block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;
	}
}