section { 
	width:100%;
	background-color: #fff;
	padding-top:30px; 
	padding-bottom:30px;
}
section p { padding:5px 0px; }
.container-block { 
	margin:0 auto;
	max-width: 1200px;
	width:100%;
	padding:0px 15px;
}

#underlayer { 
	width:100%; 
	height:100%; 
	background-color:#000; 
	opacity: 0.8; 
	display:none; 
	position:fixed; 
	z-index:200; 
	top:0px; 
	right:0px; 
	bottom:0px;
	left:0px;
	padding:20px;
	text-align:right;
	font-size:25px;
	color:#696969;
}
#underlayer i { cursor:pointer; }

/*search*/
.search-form { display:none; position:fixed; z-index:300; padding:30px; width:100%; max-width:700px; left:50%; margin-left:-350px; top:50%;transform: translateY(-50%); white-space: nowrap; }
.search-form input[type="text"] { line-height: 40px; padding-left:20px; padding-right:20px; width: calc(100% - 85px); border:0px; }

/*breadcrumbs*/
.breadcrumbs {/*text-align:right;*/}
.breadcrumbs a {text-decoration:none; margin:0px 5px;}
.breadcrumbs a:hover {text-decoration:underline;}
.breadcrumbs .last {margin:0px 0px 0px 5px;}
.breadcrumbs, .breadcrumbs a { color: #000000; }


@media screen and (max-width: 700px) {
	.search-form { 
		left:0px; 
		margin-left:0px; 
	}
}